* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: HovesBold;
  src: url(../assets/fonts/TT\ Hoves\ Pro\ Trial\ Bold.ttf);
}

@font-face {
  font-family: HovesMedium;
  src: url(../assets/fonts/TT\ Hoves\ Pro\ Trial\ Medium.ttf);
}

.header p {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 75%;
  width: 100vw;
  height: 10vh;
  /* background-color: #24204A; */
  background-image: url("../assets/imgs/Noise2.png");
  color: white;
  position: fixed;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  border-bottom: 3px solid #8e88c1;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
}

.bordaNova {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  font-family: HovesMedium;
  font-size: 16px;
  display: flex;
  gap: 45px;
  letter-spacing: 2px;
  padding: 0 20px 0 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.tech {
  font-family: HovesBold;
  font-size: 36px;
  padding: 0 0 0 20px;
  letter-spacing: 8px;
  cursor: pointer;
}


