* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: HovesBold;
    src: url(../assets/fonts/TT\ Hoves\ Pro\ Trial\ Bold.ttf);
}

@font-face {
    font-family: HovesMedium;
    src: url(../assets/fonts/TT\ Hoves\ Pro\ Trial\ Medium.ttf);
}

.header p {
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-around;
    gap: 75%;
    width: 100vw;
    height: 10vh;
    /* background-color: #24204A; */
    background-image: url('../assets/imgs/Noise2.png');
    color: white;
    /* border: 1px solid orange; */
}

.subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
    border-bottom: 3px solid #8E88C1;
}

.bordaNova{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav {
    font-family: HovesMedium;
    font-size: 16px;
    display: flex;
    gap: 45px;
    letter-spacing: 2px;
    padding: 0 20px 0 0;
}

a  {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.tech{
    font-family: HovesBold;
    font-size: 18px;
    padding: 0 0 0 20px;
    letter-spacing: 4px;
    cursor: pointer;
}

.menu {
    border: 2px solid orange;
    width: ;
}

.bm-burger-button{
    background-image: url('../assets/SVGS/menu.svg');
    background-repeat: no-repeat    ;
    width: 29px;
    height: 28px;
}