* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: GilroyLight;
    src: url(../assets/fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../assets/fonts/Gilroy-ExtraBold.otf);
}

.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/imgs/971.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.subMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    /* border: 1px solid white; */
}


.presentMyself{
    width: 30%;
    font-size: 36px ;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 30px;
    margin-left: 4%;
    color: white;
}

.presentMyself span{
    font-family: GilroyLight;
    font-size: 20px;
    text-align: justify;
}

.presentMyself p{
    font-family: GilroyBold;
    text-shadow: 4px 1px 2px #95CB7C;
    font-size: 84px;
    text-align: center;
    letter-spacing: 15px;
    width: 100%;
}

.button{
    width: 45%;
    height: 64px;
    font-size: 1px;
    background-color: #f7e571;
    border: none;
    font-family: GilroyLight;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 0px #777676;
    border-radius: 0.4em;
}

.button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.button:active {
    transform: translate(0.05em, 0.05em);
}