* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: GilroyLight;
    src: url(../assets/fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../assets/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: HovesBold;
    src: url(../assets/fonts/TT\ Hoves\ Pro\ Trial\ Bold.ttf);
}

@font-face {
    font-family: HovesMedium;
    src: url(../assets/fonts/TT\ Hoves\ Pro\ Trial\ Medium.ttf);
}

.mainSection2{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #24204A !important;
}

.mainSection2 h1{
    font-family: GilroyBold;
    font-size: 3vw;
}

.mainSection2 p{
    font-family: GilroyLight;
    font-size: 16px;
}

.mainSection2 img {
    width: 25vw;
    margin-right: 25px;
}

.PaiSobreMim{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    /* border: 1px solid white; */
}

.PaiSobreMim div {
    width: 200px;
   border-bottom: 2px solid #edc45f;
}

.filhoMainSection2{
    display: flex;
    margin-top: 100px;
}

.texto1{
    /* border: 1px solid red; */
    width: 37vw;
    max-height: 310px;
    text-align: left;  
}

.texto1 p {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

.PaiTextosImg{
    display: flex;
}

.textos{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2vh;
    /* border: 1px solid red; */
    max-height: 400px;
    height: 400px;
}

.textos > p{
    font-size: 30px;
    font-weight: bold;
}

.textos > span{
    text-align: start;
}

.textos > h3 {
    color: #edc45f;
}

.TopDescription{
    font-size: 20px;
}

.DivDescricao{
    width: 75vh;
    max-height: 310px;
    text-align: start;
    /* border: 1px solid blue; */
}

.FotoComTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Sobremim h1 {
    border-bottom: 3px solid #edc45f;
}

