* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: GilroyLight;
    src: url(../assets/fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../assets/fonts/Gilroy-ExtraBold.otf);
}

.mainSection{
    width: 100vw;
    height: 100vh;
    background-color: #24204A !important;
}

.skills{
    border: 1px solid white;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 15vw; */
}

.firstSkill {
    display: flex;
    align-items: center; 
    margin-top: 4vh;
    background-color: #FF6753;
    padding: 8px; 
    border-radius: 8px;
}

.firstSkill img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.second{
    background-color: #FF537C;
}

.third{
    background-color: #5f8c84;
}

.fourth{
    background-color: #3F50E7;
}

.fifith{
    background-color: #95CB7C;
}

.infos {
    margin-left: 10px; /* Adicione margem à esquerda para separar da imagem */
    color: white; /* Define a cor do texto */
}